* {
    box-sizing: border-box;
}

:root {
    --rock-color: #283336;
    --width: 560px;
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    color: ghostwhite;
    overflow: hidden;
    background-color: var(--rock-color);

}

.wrapper {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.cover {

    /*background-color: #3b79b5;*/
    background: url(/assets/background.png);
    height: 100vh;
    width: 100vw;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    display: grid;
    place-items: center;
    /*
    position: fixed;
    top: 0;
    left: 0;*/

}

.slide {
    position: relative;
}

.content {
    background-color: var(--rock-color);
    position: relative;
    padding: .5em;
    padding-top: 2rem;
}

.content-container {


}

h1 {

    margin: 0 auto;
    background: url(/assets/title.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    max-width: 80%;
    height: 250px;
    text-align: center;

}

p.headline {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

p.subheadline {
    margin: 1em auto;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0 0 2px var(--rock-color);

}

.arrow-start {
    animation: bounce 2s infinite;
    transition: opacity 1s 2s;
    font-size: 3rem;
    transform: scale(1.75, 0.75);
    text-shadow: 0 -1rem white;
    text-align: center;
}

.arrow-start a {
    text-decoration: none;
    color: inherit;
}

@keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
        transform: scale(1.5, 0.5) translateY(0);
    }
    40% {
        transform: scale(1.5, 0.5) translateY(-30px);
    }
    60% {
        transform: scale(1.5, 0.5) translateY(-15px);
    }
    
}

.video {
    aspect-ratio: 16 / 9;
    width: 90%;
    max-width: 680px;
    margin: 2rem auto;
    display: block;
}

.scene {
    /*background: url(/assets/fisherman-lighthouse.png);*/
    width: 100%;
    display: block;
    
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.menu {
    position: sticky;
    top: 0;
    left: 0;
    color: white;  
    padding: 1rem;
    opacity: 1;
}

.menu ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: .5em .25em;
}



div.text-narrow {

    margin: 0 auto;
    max-width: 480px;

}

.content p {

    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

p.opening {

}

a {
    color: inherit;
}

div.screenshots-container {

    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto;
    
}

div.screenshots-container img {
    flex: 1 1 45%;
    width: 45%;
}

div.screenshots-container img + img {
    margin-left: 1rem;
}

.img-wrapper {
    display: grid;
    place-content: center;
    position: relative;
}

.img-wrapper img {
    max-width: 100%;
}

.lightbulb {
    position: relative;
}

.circle {
    position: absolute;
    left: 50%;
    top: 20%;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightcoral;
    opacity: .5;
    box-shadow: 0 0 4px 4px lightcoral;
    z-index: 1;
    animation: expand 5s infinite;
    /*transform: translateX(-50%);*/
}

@keyframes expand {

    0% {

        transform: translateX(-22px) scale(.1);

    }

    50% {

        transform: translateX(-22px) scale(4);

    }

    100% {

        transform: translateX(-22px) scale(.1);

    }
    
}

.card-stack {
    position: relative;
    margin-top: 4rem;
}

.card {
    position: absolute;
    display: block;
    width: 200px;
    top: 50%;
    left: calc(50% - 100px);
    transform-origin: left bottom;
    /*--basic-displacement: 5px;
    --basic-rotation: 10deg;
    --mult-displacement: 1;
    --mult-rotation: 0;
    --displacement: calc(var(--mult-displacement) * var(--basic-displacement));
    --rotation: calc(var(--mult-rotation) * var(--basic-rotation));*/
    --mult: 1;
    --rot: calc(5deg * var(--mult) * var(--t));
    --dis: calc(5px * var(--mult) * var(--t));

    /*
    transform: translate(var(--dis), var(--dis)) rotate(var(--rot));
    */


    animation: t1 3s infinite;
}

.card:nth-child(2) { animation: t2 3s infinite; }
.card:nth-child(3) { animation: t3 3s infinite;}
.card:nth-child(4) { animation: t4 3s infinite; }

@keyframes t1 {
    0%   {transform: rotate(-25deg);}
    50%  {transform: rotate(10deg); }
    100% {transform: rotate(-25deg);} 
}

@keyframes t2 {
    0%   {transform: rotate(-25deg);}
    50%  {transform: rotate(15deg); }
    100% {transform: rotate(-25deg);} 
}

@keyframes t3 {
    0%   {transform: rotate(-25deg);}
    50%  {transform: rotate(20deg); }
    100% {transform: rotate(-25deg);} 
}

@keyframes t4 {
    0%   {transform: rotate(-25deg);}
    50%  {transform: rotate(25deg); }
    100% {transform: rotate(-25deg);} 
}

/*
@keyframes t {
    0%   {--t: 0; }
    50%  {--t: 1; }
    100% {--t: 0;}
    
}*/

/*
.card:nth-child(2) { --rot: 15deg; --dis: 15px; }
.card:nth-child(3) { --rot: 20deg; --dis: 20px; }
.card:nth-child(4) { --rot: 25deg; --dis: 25px; }
*/

